* {
  transition: all 0.3s linear;
}
body {
  width: 30em;
  margin: 0;
}
input {
  outline: none;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
hr {
  border: none;
  border-bottom: 1px solid #ddd;
  margin-top: 0;
  margin-bottom: 0;
}
.loading {
  margin: 3rem;
  text-align: center;
}
.hidden {
  display: none;
}

.container>div {
  margin: 1rem;
}
.bp-top {
  margin-bottom: -1px !important;
}
.bp-profile {
  display: flex;
  margin-bottom: 1rem;
}
#bp-top-division {
  margin: 0 -1rem;
  cursor: pointer;
}
#bp-top-division:after {
  content: ' ';
  display: block;
  width: 0;
  height: 0;
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  border-top: 0.5rem solid #ddd;
  margin: 0 auto -0.5rem auto;
}
.bp-profile-avatar {
  overflow: hidden;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  margin-right: 1rem;
}
.bp-profile-info {
  margin: auto 0;
  width: 100%;
}
.bp-profile-info>div:nth-child(2) {
  margin-top: 0.5rem;
}
.bp-profile-info>div:nth-child(2) i{
  background: #5bb6f7;
  width: 1rem;
  height: 1rem;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin-right: -4px;
  color: #fff;
}
.bp-profile-info>div:nth-child(2)>div{
  height: 0.5rem;
  width: 60%;
  background: #ddd;
  display: inline-block;
  margin-right: 0.5rem;
}
.bp-profile-info>div:nth-child(2)>div>div{
  background: #5bb6f7;
  height: 0.5rem;
}
.bp-preference:not(.phidden) {
  margin-bottom: 1rem;
}
.bp-preference>div {
  transition: all 0.5s linear;
  transition-delay: height 0.5s;
  opacity: 1;
}
.bp-preference.phidden>div {
  opacity: 0;
  height: 0;
  overflow: hidden;
}
nav>ul {
  display: flex;
  padding: 0;
  margin: 0;
  margin-top: -0.5rem;
  margin-bottom: 1rem;
}
nav>ul>li {
  width: 30%;
  text-align: center;
  margin: auto;
}


.list_wrap>li {
  margin-top: 0.5rem;
}
.list_wrap>li>div {
  display: table-cell;
  vertical-align: middle;
}
.bp-videoList-r .bp-videoList-title a {
  color: #222;
  margin-right: 1.5rem;
}
.bp-videoList-r .bp-videoList-title span {
  color: #99a2aa;
}
.bp-videoList-r .bp-videoList-info a {
  color: #00a1d6;
}
.list_wrap>li .bp-videoList-r {
  padding-left: 0.5rem;
}
.list_wrap>li .bp-videoList-info {
  margin-top: 0.3rem;
}
.bp-videoList-preview {
  height: 2.3rem;
  overflow: top;
}

.bp-videoList-preview img {
  height: 100%;
  border-radius: 4px;
}